* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
.header {
    padding-bottom: 45px;
    padding-left: 50px;
    background-color: white;
    margin: auto;
    width: auto;
    border-bottom: 3px solid #d9d9d9;
}
ul, ol {
    list-style: none;
}
.nav li a {
    background-color: rgb(255, 255, 255);
    color: rgb(121, 121, 121);
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    display: block;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 15px;
}
.nav li img {
    left: 10px;
}
.nav > li {
    float: left;
}
.nav li a:hover {
    color: black;
}
.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}
.nav li:hover > ul {
    display: block;
}
.nav .right {
    float: right;
    padding-right: 20px;
}
.nav .button {
    float: right;
    display: block;
    background-color: rgb(227, 39, 39);
    color: white;
    border-radius: 25px;
    padding: 5px 15px;
}
.nav .button:hover {
    color: white;
    background-color: rgb(201, 19, 19);
}
.fondo {
    margin: 0px;
    background: linear-gradient(rgba(27, 27, 27, 0.557), rgba(0, 0, 0, 0.53)), url(../images/fondo-innovaaqp.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
}
.fondo .titulo {
    font-size: 100px;
    color: white;
    text-align: center;
    text-shadow: 10px 10px 3px rgb(0, 0, 0);
}
.fondo .texto {
    font-size: 25px;
    text-align: center;
    color: white;
}
.list-servicio {
    padding-top: 20px;
}
.list-servicio .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.list-servicio .container .row {
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
}
.row .col-servicio {
    margin-bottom: 20px;
    height: 200px;
    text-align: center;
    display: inline-table;
}
.col-servicio img {
    margin-bottom: 15px;
    max-height: 130px;
    vertical-align: middle;
}
.col-servicio {
    align-items: center;
    margin: 0px 6%;
}
.nombre-servicio {
    width: 10%;
}
.nombre-servicio .button {
    display: block;
    background-color: rgb(227, 39, 39);
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 18px;
    width: 120px;
}
.nombre-servicio .button:hover {
    color: white;
    background-color: rgb(201, 19, 19);
}
.venta-accesorios {
    color: white;
    text-align: center;
    padding: 20px 0px;
    font-size: 50px;
}
.container-register {
    margin: 0px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.form-col {
    width: 30%;
}
.form-col div {
    width: 230px;
}
.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.login-form h2 {
    font-size: 50px;
}
.form-group {
    margin-bottom: 1rem;
}
.login-form label {
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0.5rem;
}
.login-form input {
    display: block;
    width: 450px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.2rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 1px solid #CED4DA;
    border-radius: 0.25rem;
}
.login-form button {
    color: #FFFFFF;
    background-color: #f5184e;
    border-color: #f5184e;
    font-size: 40px;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 5rem;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 10rem;
    cursor: pointer;
    margin: 1rem 0;
}
.button-group {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.login-form button:hover {
    color: white;
    background-color: rgb(201, 19, 19);
}
.login-form .links {
    margin: 5px 0;
    font-size: 15px;
    display: block;
}
.login-form .links a {
    color: #c70937;
    text-decoration: none;
    background-color: transparent;
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
    border-top: 3px solid #d9d9d9;
}
.nav-footer {
    float: left;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-footer ul li a {
    color: #c70937;
    text-decoration: none;
    background-color: transparent;
}
.redes-sociales a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background: #c70937;
    color: white;
    border-radius: 30%;
    transition: all .4s ease-in-out;
}
.list-accesorios {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.list-accesorios .accesorio {
    margin: 30px 50px;
    width: 260px;
    height: auto;
    background-color: white;
    border-radius: 15px;
}
.list-accesorios .accesorio .image-accesorio {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.list-accesorios .accesorio .data{
    margin: 15px 25px;
}
.list-accesorios .accesorio .data a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}
.image-accesorio img {
    width: 250px;
}
.register-form {
    display: flex;
    justify-content: center;
}
.register-form .col {
    margin: 0 100px;
}

.menu-principal {
    display: flex;
    justify-content: space-between;
}
.menu-principal .menu-links {
    background-color: cyan;
}
.menu-links ul{
}